<?xml version="1.0"?>
<config>
    <modules>
        <WSM_Reviews>
            <version>0.1.0</version>
        </WSM_Reviews>
    </modules>
    <global>
        <blocks>
            <customreviews>
                <class>WSM_Reviews_Block</class>
            </customreviews>
        </blocks>
        <models>
        	 <customreviews>
        	 	<class>WSM_Reviews_Model</class>
        	 	<resourceModel>customreviews_mysql4</resourceModel>
        	 </customreviews>
        	 <customreviews_mysql4>
                <class>WSM_Reviews_Model_Mysql4</class>
                <entities>
                    <review>
                        <table>reviews</table>
                    </review>
                </entities>
            </customreviews_mysql4>
        </models>
        <resources>
            <customreviews_setup>
                <setup>
                    <module>WSM_Reviews</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customreviews_setup>
            <customreviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customreviews_write>
            <customreviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customreviews_read>
        </resources>
    </global>
</config>