<?xml version="1.0"?>
<config>
    <modules>
       <AW_Advancedmenu>
          <version>1.0</version>
       </AW_Advancedmenu>
    </modules>

    <global>
	<blocks>
            <advancedmenu>
                <class>AW_Advancedmenu_Block</class>
            </advancedmenu>
        </blocks>
        <models>
            <advancedmenu>
                <class>AW_Advancedmenu_Model</class>
            </advancedmenu>
        </models>

        <helpers>
        	<advancedmenu>
        		<class>AW_Advancedmenu_Helper</class>
        	</advancedmenu>
        </helpers>
        <resources>
            <advancedmenu_setup>
                <setup>
                    <module>AW_Advancedmenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedmenu_setup>
            <advancedmenu_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </advancedmenu_write>
            <advancedmenu_read>
               <connection>
                <use>core_read</use>
              </connection>
            </advancedmenu_read>
        </resources>	    
    </global>
    
	<frontend>
	   <!--routers>
			<featuredproducts>
				<use>standard</use>
				<args>
					<module>AW_Featuredproducts</module>
					<frontName>featuredproducts</frontName>
				</args>
			</featuredproducts>
		</routers-->
		<layout>
			<updates>
				<advancedmenu>
					<file>advancedmenu.xml</file>
				</advancedmenu>
			</updates>
		</layout>
		<translate>
            <modules>
                <AW_Advancedmenu>
                    <files>
                        <default>AW_Advancedmenu.csv</default>
                    </files>
                </AW_Advancedmenu>
            </modules>
        </translate>
	</frontend>
    
    <adminhtml>
        <acl>
          <resources>
			<all>
				<title>Allow Everything</title>
			</all>
            <admin>
              <children>
                  <system>
                      <children>
                        <config>
                          <children>
                            <advancedmenu>
                              <title>aheadWorks - Featured Products Section</title>
                            </advancedmenu>
                          </children>
                        </config>
                      </children>
                  </system>
              </children>
            </admin>
          </resources>
        </acl>
		
		<translate>
            <modules>
                <AW_Advancedmenu>
                    <files>
                        <default>AW_Advancedmenu.csv</default>
                    </files>
                </AW_Advancedmenu>
            </modules>
        </translate>
		
    </adminhtml>    
	<default>
        <advancedmenu>
            <displayoptions>
				<mode>default</mode>
            </displayoptions>
        </advancedmenu>
    </default>
</config>
