<?xml version="1.0"?>
<config>
  <modules>
    <WSM_ProductFeed>
      <version>0.1.0</version>
    </WSM_ProductFeed>
  </modules>
  <frontend>
    <routers>
      <productfeed>
        <use>standard</use>
          <args>
            <module>WSM_ProductFeed</module>
            <frontName>productfeed</frontName>
          </args>
      </productfeed>
    </routers>
		<layout>
		  <updates>
			<productfeed>
			  <file>productfeed.xml</file>
			</productfeed>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <productfeed>
        <class>WSM_ProductFeed_Helper</class>
      </productfeed>
    </helpers>
	<blocks>
	  <productfeed>
		<class>WSM_ProductFeed_Block</class>
	  </productfeed>
	</blocks>
  </global>
</config> 