<?xml version="1.0"?>
<config>
    <modules>
        <AW_Zblocks>
            <version>2.2.1</version>
        </AW_Zblocks>
    </modules>
    <frontend>
        <routers>
            <zblocks>
                <use>standard</use>
                <args>
                    <module>AW_Zblocks</module>
                    <frontName>zblocks</frontName>
                </args>
            </zblocks>
        </routers>
        <layout>
            <updates>
                <zblocks>
                    <file>zblocks.xml</file>
                </zblocks>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <zblocks>
                <use>admin</use>
                <args>
                    <module>AW_Zblocks</module>
                    <frontName>zblocks</frontName>
                </args>
            </zblocks>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <zblocks module="zblocks" translate="title">
                        <title>Z-Blocks</title>
                        <action>zblocks/adminhtml_zblocks</action>
                        <sort_order>40</sort_order>
                    </zblocks>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <zblocks>
                                    <title>Z-Blocks</title>
                                    <sort_order>40</sort_order>
                                </zblocks>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <zblocks>
                    <file>zblocks.xml</file>
                </zblocks>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <zblocks>
                <class>AW_Zblocks_Model</class>
                <resourceModel>zblocks_mysql4</resourceModel>
            </zblocks>
            <zblocks_mysql4>
                <class>AW_Zblocks_Model_Mysql4</class>
                <entities>
                    <zblocks>
                        <table>aw_zblocks</table>
                    </zblocks>
                    <content>
                        <table>aw_zblocks_content</table>
                    </content>
                </entities>
            </zblocks_mysql4>
        </models>
        <resources>
            <zblocks_setup>
                <setup>
                    <module>AW_Zblocks</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zblocks_setup>
            <zblocks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zblocks_write>
            <zblocks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zblocks_read>
        </resources>
        <blocks>
            <zblocks>
                <class>AW_Zblocks_Block</class>
            </zblocks>
            <zblockscontent>
                <class>AW_Zblocks_Block_Adminhtml_Zblocks_Edit_Tab_Content_Edit</class>
            </zblockscontent>
        </blocks>
        <helpers>
            <zblocks>
                <class>AW_Zblocks_Helper</class>
            </zblocks>
        </helpers>
    </global>
</config>
