<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Ultcheck>
            <version>1.3.0</version>
        </Mage_Ultcheck>
    </modules>
    <global>
        <models>
            <ultcheck>
                <class>Mage_Ultcheck_Model</class>
            </ultcheck>
        </models>
        <helpers>
            <ultcheck>
                <class>Mage_Ultcheck_Helper</class>
            </ultcheck>
        </helpers>
        <blocks>
            <ultcheck>
                <class>Mage_Ultcheck_Block</class>
            </ultcheck>
			<checkout>
				<rewrite>
					<onepage>Mage_Ultcheck_Block_Checkout_Onepage</onepage>
				</rewrite>
			</checkout>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Mage_Ultcheck>
                    <files>
                        <default>Mage_Ultcheck.csv</default>
                    </files>
                </Mage_Ultcheck>
            </modules>	
        </translate>
		<layout>
            <updates>
                <ultcheck>
                    <file>ultcheck.xml</file>
                </ultcheck>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>			
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ultcheck>
											<title>Optimized Checkout Extension</title>
										</ultcheck>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <Mage_Ultcheck>
                    <files>
                        <default>Mage_Ultcheck.csv</default>
                    </files>
                </Mage_Ultcheck>
            </modules>	
        </translate>
    </adminhtml>
    <default>
        <ultcheck>
            <general_settings>
                <enabled>1</enabled>
                <default_method>register</default_method>
                <plugandplay>0</plugandplay>
                <login_link>1</login_link>
            </general_settings>
        </ultcheck>
    </default>
</config>