<?xml version="1.0"?>
<config>
    <modules>
        <Mageix_Ixcba>
            <version>0.1.0</version>
        </Mageix_Ixcba>
    </modules>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ixcba>
											<title>Ixcba - All</title>
										</ixcba>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
		 <updates>
			 <backend>
				<file>ixcba.xml</file>
			 </backend>
		 </updates>
		</layout>
		<events>
			<sales_order_payment_cancel>
                <observers>
                    <ixcba_observer>
                        <type>singleton</type>
                        <class>ixcba/observer</class>
                        <method>cancel</method>
                    </ixcba_observer>
                </observers>
			</sales_order_payment_cancel>
			<sales_order_shipment_save_after>
                <observers>
                    <ixcba_observer>
                        <type>singleton</type>
                        <class>ixcba/observer</class>
                        <method>confirmShipment</method>
                    </ixcba_observer>
                </observers>
            </sales_order_shipment_save_after>
			<!-- <sales_order_shipment_track_save_after>
                <observers>
                    <ixcba_observer>
                        <type>model</type>
                        <class>ixcba/observer</class>
                        <method>orderShipmentTrackSave</method>
                    </ixcba_observer>
                </observers>
            </sales_order_shipment_track_save_after> -->
			<sales_order_payment_refund>
				<observers>
                    <ixcba_observer>
                        <type>singleton</type>
                        <class>ixcba/observer</class>
                        <method>refundOnline</method>
                    </ixcba_observer>
                </observers>
			</sales_order_payment_refund>
		</events>
	</adminhtml>
    <frontend>
        <routers>
            <ixcba>
                <use>standard</use>
                <args>
                    <module>Mageix_Ixcba</module>
                    <frontName>ixcba</frontName>
                </args>
            </ixcba>
        </routers>
        <layout>
            <updates>
                <ixcba>
                    <file>ixcba.xml</file>
                </ixcba>
            </updates>
        </layout>
    </frontend> 
    <global>
		<template>
			<email>
				<amazon_failure_email_template module="email">
					<label>Amazon Failure Email Template</label>
					<file>amazon_failure_email_template.html</file>
					<type>html</type>
				</amazon_failure_email_template>
			</email>
		</template>
		<rewrite>
			
			<mageix_ixcba_customer_account>
				<from><![CDATA[#^/customer/account/#]]></from>                      
				<to>/ixcba/customer_account/</to>
			</mageix_ixcba_customer_account>
			<mageix_ixcba_checkout_onepage>
				<from><![CDATA[#^/checkout/onepage/#]]></from>                      
				<to>/ixcba/checkout_onepage/</to>
			</mageix_ixcba_checkout_onepage>
		</rewrite>
        <models>
            <sales>
				<rewrite>
					<order>Mageix_Ixcba_Model_Order</order>
				</rewrite>
				<rewrite>
					<order_payment>Mageix_Ixcba_Model_Order_Payment</order_payment>
				</rewrite>
			</sales>
			<ixcba>
                <class>Mageix_Ixcba_Model</class>
                <resourceModel>ixcba_mysql4</resourceModel>
            </ixcba>
            <ixcba_mysql4>
                <class>Mageix_Ixcba_Model_Mysql4</class>
                <entities>
                    <ixcba>
                        <table>ixcba</table>
                    </ixcba>
                </entities>
            </ixcba_mysql4>
        </models>
        <resources>
            <ixcba_setup>
                <setup>
                    <module>Mageix_Ixcba</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ixcba_setup>
            <ixcba_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ixcba_write>
            <ixcba_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ixcba_read>
        </resources>
		<fieldsets>
            <customer_account>
                <prefix>
                    <to_order>customer_prefix</to_order>
                </prefix>
                <firstname>
                    <to_order>customer_firstname</to_order>
                </firstname>
                <middlename>
                    <to_order>customer_middlename</to_order>
                </middlename>
                <lastname>
                    <to_order>customer_lastname</to_order>
                </lastname>
                <suffix>
                    <to_order>customer_suffix</to_order>
                </suffix>
                <email>
                    <to_order>customer_email</to_order>
                </email>
                <group_id>
                    <to_order>customer_group_id</to_order>
                </group_id>
                <tax_class_id>
                    <to_order>customer_tax_class_id</to_order>
                </tax_class_id>
            </customer_account>
            <ixcba_inline_billing>
                <prefix>
                    <to_customer>*</to_customer>
                </prefix>
                <firstname>
                    <to_customer>*</to_customer>
                </firstname>
                <middlename>
                    <to_customer>*</to_customer>
                </middlename>
                <lastname>
                    <to_customer>*</to_customer>
                </lastname>
                <suffix>
                    <to_customer>*</to_customer>
                </suffix>
                <email>
                    <to_customer>*</to_customer>
                </email>
                <customer_dob>
                    <to_customer>dob</to_customer>
                </customer_dob>
                <customer_taxvat>
                    <to_customer>taxvat</to_customer>
                </customer_taxvat>
                <customer_gender>
                    <to_customer>gender</to_customer>
                </customer_gender>
            </ixcba_inline_billing>
            <ixcba_inline_quote>
                <customer_prefix>
                    <to_customer>prefix</to_customer>
                </customer_prefix>
                <customer_firstname>
                    <to_customer>firstname</to_customer>
                </customer_firstname>
                <customer_middlename>
                    <to_customer>middlename</to_customer>
                </customer_middlename>
                <customer_lastname>
                    <to_customer>lastname</to_customer>
                </customer_lastname>
                <customer_suffix>
                    <to_customer>suffix</to_customer>
                </customer_suffix>
                <customer_email>
                    <to_customer>email</to_customer>
                </customer_email>
                <customer_dob>
                    <to_customer>dob</to_customer>
                </customer_dob>
                <customer_taxvat>
                    <to_customer>taxvat</to_customer>
                </customer_taxvat>
                <customer_gender>
                    <to_customer>gender</to_customer>
                </customer_gender>
            </ixcba_inline_quote>
        </fieldsets>
        <blocks>
            <ixcba>
                <class>Mageix_Ixcba_Block</class>
            </ixcba>
			<adminhtml>
				<rewrite>
					<sales_order_creditmemo_create_items>Mageix_Ixcba_Block_Sales_Order_Creditmemo_Create_Items</sales_order_creditmemo_create_items>
				</rewrite>
			</adminhtml>
			<googleanalytics>
				<rewrite>
					<ga>Mageix_Ixcba_Block_Ga</ga>
				</rewrite>
			</googleanalytics>
        </blocks>
        <helpers>
            <ixcba>
                <class>Mageix_Ixcba_Helper</class>
            </ixcba>
        </helpers>
		<ixcba>
            <quote>
                <totals>
                    <subtotal>
                        <renderer>ixcba/total_subtotal</renderer>
                    </subtotal>
                    <shipping>
                        <renderer>ixcba/total_shipping</renderer>
                    </shipping>
					<tax>
                        <renderer>ixcba/total_tax</renderer>
                    </tax>
                    <discount>
                        <renderer>ixcba/total_discount</renderer>
                    </discount>
                    <grand_total>
                        <renderer>ixcba/total_grandtotal</renderer>
                    </grand_total>
                </totals>
            </quote>
        </ixcba>
    </global>
    <default>
		<payment>
            <ixcba>
				<sort_order>0</sort_order>
                <active>1</active>
                <model>ixcba/ixcba</model>
                <title>Checkout By Amazon (powered by Inline IXCBA&#8482;)</title>
				<order_status>pending</order_status>
				<sandbox_mode>1</sandbox_mode>
				<weight_unit>LB</weight_unit>
				<enable_comments>1</enable_comments>
				<enable_agreements>1</enable_agreements>
				<enable_ga>1</enable_ga>
				<enable_save_xmls>1</enable_save_xmls>
				<delete_xml_period>30</delete_xml_period>
				
				<marketplace_id_US>AZ4B0ZS3LGLX</marketplace_id_US>
                <marketplace_id_UK>A2WQPBGJ59HSXT</marketplace_id_UK>
                <marketplace_id_DE>A1OCY9REWJOCW5</marketplace_id_DE>

				<sandbox_marketplace_id_US>A2SMC08ZTYKXKX</sandbox_marketplace_id_US>
                <sandbox_marketplace_id_UK>A1V3LO6WH786V3</sandbox_marketplace_id_UK>
                <sandbox_marketplace_id_DE>AVWY87JS6QRCI</sandbox_marketplace_id_DE>
				
				<mws_service_url_US>https://mws.amazonservices.com</mws_service_url_US>
                <mws_service_url_UK>https://mws.amazonservices.co.uk</mws_service_url_UK>
                <mws_service_url_DE>https://mws.amazonservices.de</mws_service_url_DE>
				<wsdl>https://merchant-api.amazon.com/gateway/merchant-interface-mime/</wsdl>

            </ixcba>
        </payment>
		<ixcba>
            <mageix_group>
                <inline_ixcba_enabled>1</inline_ixcba_enabled>
            </mageix_group>
			<mageix_themes>
				<header_bg_color>#E6E0C5</header_bg_color>
				<header_font_style>Verdana</header_font_style>
				<header_font_color>#FFFFFF</header_font_color>
				<header_border_color>#3B5998</header_border_color>
				<buttons_bg_color>#0088ff</buttons_bg_color>
				<buttons_font_style>Lucida Grande,Tahoma,Verdana</buttons_font_style>
				<buttons_font_color>#FFFFFF</buttons_font_color>
				<buttons_border_color>#3B6E22</buttons_border_color>
				<content_font_style>Verdana,Geneva,sans-serif</content_font_style>
				<inline_bg_color>#E8E3C7</inline_bg_color>
				<inline_font_style>Verdana,Geneva,sans-serif</inline_font_style>
				<inline_font_color>#0A263C</inline_font_color>
				<inline_message_bg_color>#F7EBBE</inline_message_bg_color>
				<inline_message_font_style>Verdana,Geneva,sans-serif</inline_message_font_style>
				<inline_message_font_color>#66666E</inline_message_font_color>
				<inline_message_border_color>#F0C36D</inline_message_border_color>
				<agreement_width>500</agreement_width>
			</mageix_themes>
		</ixcba>
    </default>
	<crontab>
			<jobs>
				<mageix_ixcba>
					<schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
					<run><model>ixcba/observer::updateLogs</model></run>
				</mageix_ixcba>
				<ixcba_xmldelete>
					<schedule><cron_expr>*/720 * * * *</cron_expr></schedule>
					<run><model>ixcba/observer::ixcbaXmlExists</model></run>
				</ixcba_xmldelete>
				<ixcba_shipment>
					<schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
					<run><model>ixcba/observer::ixcbaShipmentCheck</model></run>
				</ixcba_shipment>
			</jobs>
	</crontab>
</config>