<?xml version="1.0"?>
<config>
    <modules>
        <Livechat_Livechat>
            <version>2.0.1</version>
        </Livechat_Livechat>
    </modules>
    <frontend>
        <routers>
            <livechat>
                <use>standard</use>
                <args>
                    <module>Livechat_Livechat</module>
                    <frontName>livechat</frontName>
                </args>
            </livechat>
        </routers>
        <layout>
            <updates>
                <livechat>
                    <file>livechat.xml</file>
                </livechat>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<livechat>
				<use>admin</use>
				<args>
					<module>Livechat_Livechat</module>
					<frontName>livechat</frontName>
				</args>
			</livechat>
        </routers>
    </admin>
	
    <adminhtml>
		<menu>
			<livechat module="livechat">
				<title>LiveChat</title>
				<sort_order>75</sort_order>
				<action>livechat/adminhtml_livechat</action>
			</livechat>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Livechat_Livechat>
							<title>LiveChat</title>
							<sort_order>10</sort_order>
						</Livechat_Livechat>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <livechat>
                                            <title>LiveChat Section</title>
                                        </livechat>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<livechat>
					<file>livechat.xml</file>
				</livechat>
			</updates>
		</layout>
    </adminhtml>   
	
    <global>
        <blocks>
            <livechat>
                <class>Livechat_Livechat_Block</class>
            </livechat>
        </blocks>
        <helpers>
            <livechat>
                <class>Livechat_Livechat_Helper</class>
            </livechat>
        </helpers>
		<models>
			<livechat>
                <class>Livechat_Livechat_Model</class>
			</livechat>
		</models>
    </global>
	
	<default>
        <livechat>
            <general>
				<license></license>
            </general>
			<advanced>
				<language>en</language>
				<skill>0</skill>
				<params></params>
			</advanced>
        </livechat>
    </default>
</config>