<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Eye4fraud Connector Magento Module
 *
 * @category    Eye4fraud
 * @package     Eye4fraud_Connector
 */
-->
<config>
    <modules>
        <Eye4Fraud_Connector>
            <version>1.1.6</version>
        </Eye4Fraud_Connector>
    </modules>
    <global>
        <helpers>
            <eye4fraud_connector>
                <class>Eye4Fraud_Connector_Helper</class>
            </eye4fraud_connector>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <connector_observer>
                        <type>singleton</type>
                        <class>Eye4Fraud_Connector_Model_Observer</class>
                        <method>orderPlacedAfter</method>
                    </connector_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <connector_observer>
                        <type>singleton</type>
                        <class>Eye4Fraud_Connector_Model_Observer</class>
                        <method>orderSavedAfter</method>
                    </connector_observer>
                </observers>
            </sales_order_save_after>
            <admin_system_config_changed_section_eye4fraud_connector>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>Eye4Fraud_Connector_Model_Observer</class>
                        <method>checkSoapClient</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_eye4fraud_connector>
            <sales_order_grid_collection_load_after>
                <observers>
                    <connector_observer>
                        <type>singleton</type>
                        <class>Eye4Fraud_Connector_Model_Observer</class>
                        <method>prepareFraudStatuses</method>
                    </connector_observer>
                </observers>
            </sales_order_grid_collection_load_after>
        </events>
        <models>
            <eye4fraud_connector>
                <class>Eye4Fraud_Connector_Model</class>
                <resourceModel>eye4fraud_connector_resource</resourceModel>
            </eye4fraud_connector>
            <eye4fraud_connector_resource>
                <class>Eye4Fraud_Connector_Model_Resource</class>
                <entities>
                    <status>
                        <table>fraud_status</table>
                    </status>
                </entities>
            </eye4fraud_connector_resource>
            <paygate>
                <rewrite>
                    <authorizenet>Eye4Fraud_Connector_Model_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
            <paypal>
                <rewrite>
                    <payflowpro>Eye4Fraud_Connector_Model_Payflowpro</payflowpro>
                </rewrite>
            </paypal>
            <paypaluk>
                <rewrite>
                    <api_nvp>Eye4Fraud_Connector_Model_PaypalUk_Api_Nvp</api_nvp>
                </rewrite>
            </paypaluk>
        </models>
        <resources>
            <eye4fraud_setup>
                <setup>
                    <module>Eye4Fraud_Connector</module>
                </setup>
            </eye4fraud_setup>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Eye4Fraud_Connector_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
		 <template>
            <email>
                <authorizepopulation_email_template translate="label">
                    <label>Credit Card Number</label>
                    <file>authorizepopulation.html</file>
                    <type>html</type>
                </authorizepopulation_email_template>
            </email>
        </template>
    </global>
    <default>
        <eye4fraud_connector>
            <cron_settings>
                <enabled>0</enabled>
                <update_interval>60</update_interval>
            </cron_settings>
        </eye4fraud_connector>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <eye4fraud_connector>
                    <files>
                        <module>Eye4Fraud_Connector.csv</module>
                    </files>
                </eye4fraud_connector>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <eye4fraud_refresh>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>eye4fraud_connector/observer::cronRefreshStatus</model>
                </run>
            </eye4fraud_refresh>
        </jobs>
    </crontab>
</config>