<?xml version="1.0"?>
<!--
/**
 * Eye4fraud Connector Magento Module
 *
 * @category    Eye4fraud
 * @package     Eye4fraud_Connector
 */
-->
<config>
    <sections>
        <eye4fraud_connector translate="label">
            <label>Eye4Fraud Connector Settings</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api_settings translate="label">
                    <label>API Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Extension Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <api_site_name translate="label">
                            <label>API Site Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_site_name>
                        <api_login translate="label">
                            <label>API Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_login>
                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
                        <debug_mode translate="label">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_mode>
                    </fields>
                </api_settings>
                <cron_settings translate="label,comment">
                    <label>Cron Settings</label>
                    <comment>Eye4Fraud status will be cached for orders and updated by cron</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Cron Update Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <update_interval translate="label,comment">
                            <label>Update Interval, minutes</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Note: cron job is executed each 5 minutes</comment>
                        </update_interval>
                    </fields>
                </cron_settings>
                <rewrite_status translate="label,comment">
                    <label>Info for developers</label>
                    <comment>Information for developers to show class rewrite conflicts. Checkbox enabled if this module successfully rewrite required class</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <rewrite_grid translate="label">
                            <label>Order Grid Status</label>
                            <frontend_type>checkbox</frontend_type>
                            <frontend_model>Eye4Fraud_Connector_Model_Config_Frontend_Grid</frontend_model>
                            <backend_model>eye4fraud_connector/config_backend_data</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rewrite_grid>
                        <rewrite_payflow translate="label">
                            <label>Payflow Method Status</label>
                            <frontend_type>checkbox</frontend_type>
                            <frontend_model>Eye4Fraud_Connector_Model_Config_Frontend_Payflowpro</frontend_model>
                            <backend_model>eye4fraud_connector/config_backend_data</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rewrite_payflow>
                        <rewrite_authorize_net translate="label">
                            <label>Authorize.net Method Status</label>
                            <frontend_type>checkbox</frontend_type>
                            <frontend_model>Eye4Fraud_Connector_Model_Config_Frontend_Authorizenet</frontend_model>
                            <backend_model>eye4fraud_connector/config_backend_data</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rewrite_authorize_net>
                        <rewrite_paypaluk translate="label">
                            <label>PayFlow Api Nvp class Status</label>
                            <frontend_type>checkbox</frontend_type>
                            <frontend_model>Eye4Fraud_Connector_Model_Config_Frontend_Paypaluk</frontend_model>
                            <backend_model>eye4fraud_connector/config_backend_data</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rewrite_paypaluk>
                    </fields>
                </rewrite_status>
            </groups>
        </eye4fraud_connector>
    </sections>
</config>