<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Amasty_Coupons>
            <version>1.1.1</version>
        </Amasty_Coupons>
    </modules>
    
    <admin>
    </admin>
    
    <frontend>
        <routers>
            <amcoupons>
                <use>standard</use>
                <args>
                    <module>Amasty_Coupons</module>
                    <frontName>amcoupons</frontName>
                </args>
            </amcoupons>
        </routers>
        <translate>
            <modules>
                <Amasty_Coupons>
                    <files>
                        <default>Amasty_Coupons.csv</default>
                    </files>
                </Amasty_Coupons>
            </modules>
        </translate>
    </frontend>
    
    <adminhtml>
        <translate>
            <modules>
                <Amasty_Coupons>
                    <files>
                        <default>Amasty_Coupons.csv</default>
                    </files>
                </Amasty_Coupons>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amcoupons translate="title" module="amcoupons">
                                            <title>Image-Based Dynamic Configurable Products</title>
                                        </amcoupons>
                                    </children>
                                </config>
                            </children>
                        </system> 
                     </children>
                </admin> 
            </resources>
        </acl>
    </adminhtml>

    <global>    
        <models>
            <amcoupons>
                <class>Amasty_Coupons_Model</class>
                <resourceModel>amcoupons_mysql4</resourceModel>
            </amcoupons>
            <sales>
                <rewrite>
                    <quote>Amasty_Coupons_Model_Rewrite_Quote</quote>
                </rewrite>
            </sales>
            <salesrule>
                <rewrite>
                    <validator>Amasty_Coupons_Model_Rewrite_Validator</validator>
                </rewrite>
            </salesrule>
            <salesrule_mysql4>
                <rewrite>
                    <rule_collection>Amasty_Coupons_Model_Rewrite_Mysql4_Rule_Collection</rule_collection>
                </rewrite>
            </salesrule_mysql4>
        </models>
		<resources>
             <amcoupons_setup>
                <setup>
                    <module>Amasty_Coupons</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amcoupons_setup>
		    <amcoupons_write>
		        <connection><use>core_write</use></connection>
		    </amcoupons_write>
		    <amcoupons_read>
		        <connection><use>core_read</use></connection>
		    </amcoupons_read>
		</resources>
        <blocks>
            <amcoupons>
                <class>Amasty_Coupons_Block</class>
            </amcoupons>
            
            <checkout>
                <rewrite>
                    <cart_coupon>Amasty_Coupons_Block_Rewrite_Cart_Coupon</cart_coupon>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <amcoupons>
                <class>Amasty_Coupons_Helper</class>
            </amcoupons>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <amcoupons>
                        <class>amcoupons/observer</class>
                        <method>handleSalesOrderPlaceAfter</method>
                    </amcoupons>
                </observers>
            </sales_order_place_after>
        </events>         
    </global>
    <default>
        <amcoupons>
           <codes>
                <code>111, 222,5ABCD, BIG2</code>
           </codes>
        </amcoupons>
    </default>
</config>