<?xml version="1.0"?>
<config>
    <sections>
        <amcoupons translate="label" module="amcoupons">
            <label>Multiple Coupons</label>
            <tab>amasty</tab>
            <frontend_type>text</frontend_type>
            <sort_order>800</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <codes>
                    <label>Multiple Coupons</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <code translate="label comment">
                            <label>Unique codes</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </code>
                    </fields>
                </codes>
            </groups>
        </amcoupons>
    </sections>
</config>
