<?xml version="1.0"?>
<config>
    <modules>
        <WSM_SalesReporting>
            <version>0.1.0</version>
        </WSM_SalesReporting>
    </modules>
    <global>
    	<helpers>
    		<wsm_salesreporting>
    			<class>WSM_SalesReporting_Helper</class>
    		</wsm_salesreporting>
    	</helpers>
    	<blocks>
    		<wsm_salesreporting>
    			<class>WSM_SalesReporting_Block</class>
    		</wsm_salesreporting>
    	</blocks>
    	<models>
    		<wsm_salesreporting>
    			<class>WSM_SalesReporting_Model</class>
    			<resourceModel>wsm_salesreporting_resource</resourceModel>
    		</wsm_salesreporting>
    		<wsm_salesreporting_resource>
    			<class>WSM_SalesReporting_Model_Resource</class>
    		</wsm_salesreporting_resource>
    	</models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <WSM_SalesReporting after="Mage_Adminhtml">WSM_SalesReporting</WSM_SalesReporting>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<layout>
            <updates>
                <wsm_salesreporting>
                    <file>salesreporting.xml</file>
                </wsm_salesreporting>
            </updates>
        </layout>
    </adminhtml>
</config>