<?xml version="1.0"?>
<config>
    <modules>
        <AW_Productrelater>
            <version>1.0.1</version>
        </AW_Productrelater>
    </modules>
    <frontend>
        <routers>
            <productrelater>
                <use>standard</use>
                <args>
                    <module>AW_Productrelater</module>
                    <frontName>productrelater</frontName>
                </args>
            </productrelater>
        </routers>
		<layout>
			<updates>
				<productrelater module="AW_Productrelater">
					<file>productrelater.xml</file>
				</productrelater>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
            <productrelater>
                <use>admin</use>
                <args>
                    <module>AW_Productrelater</module>
                    <frontName>productrelater</frontName>
                </args>
            </productrelater>
        </routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<productrelater>
											<title>Product relater section</title>
										</productrelater>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productrelater>
					<file>productrelater.xml</file>
				</productrelater>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
            <productrelater>
                <class>AW_Productrelater_Model</class>
            </productrelater>            
        </models>
        <resources>
            <productrelater_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productrelater_write>
            <productrelater_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productrelater_read>
        </resources>
		<blocks>
            <productrelater>
                <class>AW_Productrelater_Block</class>
            </productrelater>
			<catalog>
				<rewrite>
                    <product_list_related>AW_Productrelater_Block_Rewrite</product_list_related>
                </rewrite>
			</catalog>
			<enterprise_targetrule>
				<rewrite>
					<catalog_product_list_related>AW_Productrelater_Block_Erewrite</catalog_product_list_related>
				</rewrite>
			</enterprise_targetrule>
        </blocks>
		<helpers>
			<productrelater>
				<class>AW_Productrelater_Helper</class>
			</productrelater>
		</helpers>
	</global>
	<default>
		<productrelater>
			<mainoptions>
				<replaceoriginalrp>0</replaceoriginalrp>
				<itemscount>3</itemscount>
				<source>1</source>
				<selectproducts>2</selectproducts>
				<fetchinstock>0</fetchinstock>
				<pricecondition>1</pricecondition>
				<price>0</price>
			</mainoptions>
		</productrelater>
	</default>
</config>