<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Ip_Robots>
            <version>1.0.0</version>
        </Ip_Robots>
    </modules>
    <global>
        <rewrite>
            <mage_adminhtml_system_variable>
                <from><![CDATA[#^/robots/system_variable#]]>
                </from>
                <to>/admin/system_variable</to>
            </mage_adminhtml_system_variable>
        </rewrite>
        <models>
            <robots>
                <class>Ip_Robots_Model</class>
                <resourceModel>robots_mysql4</resourceModel>
            </robots>
            <robots_mysql4>
                <class>Ip_Robots_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>ip_robots_item</table>
                    </item>
                    <item_store>
                        <table>ip_robots_item_store</table>
                    </item_store>
                    <category>
                        <table>ip_robots_category</table>
                    </category>
                    <category_store>
                        <table>ip_robots_category_store</table>
                    </category_store>
                </entities>
            </robots_mysql4>
        </models>
        <resources>
            <robots_setup>
                <setup>
                    <module>Ip_Robots</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </robots_setup>
            <robots_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </robots_write>
            <robots_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </robots_read>
        </resources>
        <blocks>
            <robots>
                <class>Ip_Robots_Block</class>
            </robots>
        </blocks>
        <helpers>
            <robots>
                <class>Ip_Robots_Helper</class>
            </robots>
        </helpers>
    </global>
    <admin>
        <routers>
            <Ip_Robots>
                <use>admin</use>
                <args>
                    <module>Ip_Robots</module>
                    <frontName>robots</frontName>
                </args>
            </Ip_Robots>
        </routers>
    </admin>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <robots translate="title">
                            <title>Robots</title>
                            <children>
                                <item translate="title">
                                    <title>Manage items </title>
                                </item>
                            </children>
                            <sort_order>65</sort_order>
                        </robots>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <robots>
                                            <title>Robots</title>
                                            <sort_order>101</sort_order>
                                        </robots>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <cms translate="title" module="formbuilder">
                <title>CMS</title>
                <sort_order>70</sort_order>
                <children>
                            <robots translate="title" module="robots">
                                <title>Robots.txt</title>
                                <sort_order>0</sort_order>
                                <children>
                                    <item translate="title" module="robots">
                                        <title>Manage</title>
                                        <action>robots/admin_item/</action>
                                        <resource>robots/admin/item</resource>
                                    </item>
                                    <settings translate="title" module="robots">
                                        <title>Settings</title>
                                        <action>adminhtml/system_config/edit/section/robots</action>
                                        <sort_order>40</sort_order>
                                    </settings>
                                </children>
                            </robots>
                </children>
            </cms>
        </menu>
    </adminhtml>
    <default>
        <robots>
            <options>
                <delay>none</delay>
                <all>1</all>
                <googlebot>0</googlebot>
                <yandex>0</yandex>
                <googlebotimage>0</googlebotimage>
                <googlebotmobile>0</googlebotmobile>
                <msnbot>0</msnbot>
                <slurp>0</slurp>
                <teoma>0</teoma>
                <twiceler>0</twiceler>
                <gigabot>0</gigabot>
                <scrubby>0</scrubby>
                <robozilla>0</robozilla>
                <nutch>0</nutch>
                <iaarchiver>0</iaarchiver>
                <baiduspider>0</baiduspider>
                <naverbot>0</naverbot>
                <yeti>0</yeti>
                <yahoommcrawler>0</yahoommcrawler>
                <psbot>0</psbot>
                <yahooblogs>0</yahooblogs>
            </options>
        </robots>
    </default>
</config>