<?xml version="1.0"?>
<config>
	<modules>
    	<WSM_Rank>
      		<version>1.0.1</version>
    	</WSM_Rank>
  	</modules>
  	<admin>
  		<routers>
  			<rank>
  				<use>admin</use>
  				<args>
  					<module>WSM_Rank</module>
  					<frontName>rank</frontName>
  				</args>
  			</rank>
  		</routers>
  	</admin>
  	<adminhtml>
        <menu>
            <extras>
                <children>
                    <rank_adminranks module="rank" translate="title">
                        <title>Product Ranking</title>
                        <action>rank/adminhtml_ranks</action>
                    </rank_adminranks>
                </children>
            </extras>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <extras>
                            <children>
                                <rank_adminranks>
                                    <title>Product Ranking</title>
                                </rank_adminranks>
                            </children>
                        </extras>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
        	<updates>
        		<rank>
        			<file>rank.xml</file>
        		</rank>
        	</updates>
        </layout>
	</adminhtml>
	<global>
		<models>
            <rank>
                <class>WSM_Rank_Model</class>
                <resourceModel>rank_mysql4</resourceModel>
            </rank>
            <rank_mysql4>
                <class>WSM_Rank_Model_Mysql4</class>
                <entities>
                	<rank>
                		<table>catalog_product_rank</table>
                	</rank>
                </entities>
            </rank_mysql4>
        </models>
        <resources>
            <!-- db write connection -->
            <rank_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rank_write>
            <!-- db read connection -->
            <rank_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rank_read>
            <rank_setup>
				<setup>
					<module>WSM_Rank</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</rank_setup>
        </resources>
        <helpers>
            <rank>
                <class>WSM_Rank_Helper</class>
            </rank>
        </helpers>
    </global>
</config>