<?xml version="1.0"?>
<config>
    <modules>
        <WSM_Fraud>
            <version>0.0.1</version>
        </WSM_Fraud>
    </modules>
    <global>
    	<models>
            <wsm_fraud>
                <class>WSM_Fraud_Model</class>
                <resourceModel>wsm_fraud_resource</resourceModel>
            </wsm_fraud>
            <wsm_fraud_resource>
            	<class>WSM_Fraud_Model_Resource</class>
                <entities>
                    <fraud>
                        <table>fraud_entities</table>
                    </fraud>
                </entities>
            </wsm_fraud_resource>
        </models>
        <resources>
            <fraud_setup>
                <setup>
                    <module>WSM_Fraud</module>
                </setup>
            </fraud_setup>
        </resources>
        <helpers>
   			<wsm_fraud>
          		<class>WSM_Fraud_Helper</class>
    		</wsm_fraud>
		</helpers>
        <events>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <wsm_fraud>
                        <class>wsm_fraud/observer</class>
                        <method>logFraud</method>
                    </wsm_fraud>
                </observers>
            </sales_model_service_quote_submit_failure>
        </events>
    </global>
    <crontab>
        <jobs>
            <wsm_fraud_cron>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>wsm_fraud/observer::cleanLog</model>
                </run>
            </wsm_fraud_cron>
        </jobs>
    </crontab>
</config>
