<?xml version="1.0"?>

<config>
	<modules>
		<Lemonline_SimpleAdminPayment>
			<version>0.1.0</version>
		</Lemonline_SimpleAdminPayment>
	</modules>
	<global>
		<models>
			<simpleadminpayment>
				<class>Lemonline_SimpleAdminPayment_Model</class>
			</simpleadminpayment>
		</models>
		<helpers>
			<simpleadminpayment>
				<class>Lemonline_SimpleAdminPayment_Helper</class>
			</simpleadminpayment>
		</helpers>
		<resources>
			<simpleadminpayment_setup>
				<setup>
					<module>Lemonline_SimpleAdminPayment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</simpleadminpayment_setup>
			<simpleadminpayment_write>
				<connection>
					<use>core_write</use>
				</connection>
			</simpleadminpayment_write>
			<simpleadminpayment_read>
				<connection>
					<use>core_read</use>
				</connection>
			</simpleadminpayment_read>
		</resources>
	</global>
	<frontend>
		<translate>
			<modules>
				<simpleadminpayment>
					<files>
						<default>Lemonline_SimpleAdminPayment.csv</default>
					</files>
				</simpleadminpayment>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<simpleadminpayment>
					<files>
						<default>Lemonline_SimpleAdminPayment.csv</default>
					</files>
				</simpleadminpayment>
			</modules>
		</translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Lemonline_SimpleAdminPayment>
							<title>Check / Money Order for Admin</title>
							<sort_order>10</sort_order>
						</Lemonline_SimpleAdminPayment>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<payment>
			<simpleadminpayment>
				<active>0</active>
				<model>simpleadminpayment/simpleAdminPayment</model>
				<order_status>pending</order_status>
				<title>Simple Payment Method for Admin</title>
				<payment_action>authorize</payment_action>
				<capture_auto>1</capture_auto>
				<shipment_auto>0</shipment_auto>
			</simpleadminpayment>
		</payment>
	</default>
</config>
