<?xml version="1.0"?>
<!--
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.2
 */ 
 -->
<config>
    <modules>
        <GoMage_All>
            <version>1.0</version>
        </GoMage_All>
    </modules>
	<global>
		<models>
		    <gomage_all>
		        <class>GoMage_All_Model</class>
		    </gomage_all>
		</models>
		<blocks>
            <gomage_all>
                <class>GoMage_All_Block</class>
            </gomage_all>
            <adminhtml>
            	<rewrite>
            		<sales_order_view_info>GoMage_All_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
            	</rewrite>
            </adminhtml>
        </blocks>
	</global>
    <adminhtml>
		<layout>
            <updates>
                <gomage_all module="gomage_all">
                    <file>gomage-core.xml</file>
                </gomage_all>
            </updates>
        </layout>
	</adminhtml>
</config>