<?xml version="1.0"?>
<!--
/**
 * @category    Amazon
 * @package     Amazon_Payments
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Amazon_Payments>
            <version>1.4.4</version>
        </Amazon_Payments>
        <Amazon_Login>
            <!-- Disable legacy module -->
            <active>false</active>
        </Amazon_Login>
    </modules>
    <global>
        <blocks>
            <amazon_payments>
                <class>Amazon_Payments_Block</class>
            </amazon_payments>
        </blocks>
        <models>
            <amazon_payments>
                <class>Amazon_Payments_Model</class>
                <resourceModel>login_mysql4</resourceModel>
            </amazon_payments>
            <login_mysql4>
                <class>Amazon_Payments_Model_Resource</class>
                <entities>
                    <login>
                        <table>amazon_login</table>
                    </login>
                    <token>
                        <table>amazon_payments_token</table>
                    </token>
                </entities>
            </login_mysql4>
            <sales>
                <rewrite>
                    <order_creditmemo>Amazon_Payments_Model_Order_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <amazon_payments>
                <class>Amazon_Payments_Helper</class>
            </amazon_payments>
        </helpers>
        <template>
            <email>
               <amazon_payments_async_decline_soft>
                   <label>Amazon Payments Async Decline (Soft)</label>
                   <file>amazon_payments_async_decline_soft.html</file>
                   <type>html</type>
               </amazon_payments_async_decline_soft>
               <amazon_payments_async_decline_hard>
                   <label>Amazon Payments Async Decline (Hard)</label>
                   <file>amazon_payments_async_decline_hard.html</file>
                   <type>html</type>
               </amazon_payments_async_decline_hard>
            </email>
        </template>
        <rewrite>
            <amazon_payments_checkout>
                <from><![CDATA[#^/checkout/amazon_payments#]]></from>
                <to>/amazon_payments/checkout</to>
            </amazon_payments_checkout>
        </rewrite>
        <resources>
            <payments_setup>
                <setup>
                    <module>Amazon_Payments</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payments_setup>
            <payments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payments_write>
            <payments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payments_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Amazon_Payments after="Mage_Adminhtml">Amazon_Payments_Adminhtml</Amazon_Payments>
                        <Amazon_Simplepath after="Mage_Adminhtml">Amazon_Simplepath_Adminhtml</Amazon_Simplepath>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tax>
                    <file>amazon_payments.xml</file>
                </tax>
            </updates>
        </layout>
        <translate>
            <modules>
                <Amazon_Payments>
                    <files>
                        <default>Amazon_Payments.csv</default>
                    </files>
                </Amazon_Payments>
            </modules>
        </translate>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <amazon_payments>
                        <class>Amazon_Payments_Model_Observer_Adminhtml</class>
                        <method>addAsyncButton</method>
                    </amazon_payments>
                </observers>
            </adminhtml_widget_container_html_before>
            <sales_order_save_commit_after>
                <observers>
                    <amazon_payments_observer>
                        <class>Amazon_Payments_Model_Observer_Order</class>
                        <method>closeAmazonOrder</method>
                    </amazon_payments_observer>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </adminhtml>
    <frontend>
        <secure_url>
            <cart_updatepost>/checkout/cart/updatePost</cart_updatepost>
            <cart_couponpost>/checkout/cart/couponPost</cart_couponpost>
            <cart_estimatepost>/checkout/cart/estimatePost</cart_estimatepost>
            <checkout_amazon>/checkout/amazon_payments</checkout_amazon>
            <amazon_checkout>/amazon_payments/checkout</amazon_checkout>
            <simplepath>/amazon_payments/simplepath</simplepath>
            <amazon_login_verify>/amazon_payments/customer/verify</amazon_login_verify>
            <amazon_ajaxcart>/amazon_payments/token/ajaxcart</amazon_ajaxcart>
            <amazon_token_checkout>/amazon_payments/token/checkout</amazon_token_checkout>
        </secure_url>
        <routers>
            <amazon_payments>
                <use>standard</use>
                <args>
                    <module>Amazon_Payments</module>
                    <frontName>amazon_payments</frontName>
                </args>
            </amazon_payments>
        </routers>
        <translate>
            <modules>
                <Amazon_Payments>
                    <files>
                        <default>Amazon_Payments.csv</default>
                    </files>
                </Amazon_Payments>
            </modules>
        </translate>
        <layout>
            <updates>
                <amazon_payments>
                    <file>amazon_payments.xml</file>
                </amazon_payments>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                   <amazon_payments_observer>
                      <class>Amazon_Payments_Model_Observer_Onepage</class>
                      <method>beforeLoadLayout</method>
                   </amazon_payments_observer>
                </observers>
            </controller_action_layout_load_before>
            <sales_order_place_after>
                <observers>
                    <amazon_payments_observer>
                        <class>Amazon_Payments_Model_Observer_Order</class>
                        <method>updateCustomerAddress</method>
                    </amazon_payments_observer>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <amazon_payments_observer>
                        <class>Amazon_Payments_Model_Observer_Action</class>
                        <method>secureCart</method>
                    </amazon_payments_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_response_redirect>
                <observers>
                    <amazon_payments_observer>
                        <class>Amazon_Payments_Model_Observer_Action</class>
                        <method>responseRedirect</method>
                    </amazon_payments_observer>
                </observers>
            </controller_response_redirect>
            <custom_quote_process>
                <observers>
                    <amazon_payments_observer>
                        <class>Amazon_Payments_Model_Observer_Onepage</class>
                        <method>clearShippingAddress</method>
                    </amazon_payments_observer>
                </observers>
            </custom_quote_process>
        </events>
    </frontend>
    <default>
        <payment>
            <amazon_payments>
                <title>Login and Pay with Amazon</title>
                <model>amazon_payments/paymentMethod</model>
                <payment_action>authorize_capture</payment_action>
                <checkout_page>amazon</checkout_page>
                <show_pay_cart>1</show_pay_cart>
                <order_status>processing</order_status>
                <active>1</active>
                <region>us</region>
                <secure_cart>1</secure_cart>
                <button_type>PwA</button_type>
                <button_color>Gold</button_color>
                <button_size>medium</button_size>
                <button_badge>1</button_badge>
                <popup>1</popup>
                <show_coupon>1</show_coupon>
                <access_secret backend_model="adminhtml/system_config_backend_encrypted" />
                <client_secret backend_model="adminhtml/system_config_backend_encrypted" />
            </amazon_payments>
        </payment>
        <amazon_login>
            <settings>
                <enabled>1</enabled>
                <popup>1</popup>
            </settings>
        </amazon_login>
    </default>
    <crontab>
        <jobs>
            <amazon_payments_async>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>amazon_payments/async::cron</model></run>
            </amazon_payments_async>
        </jobs>
    </crontab>
</config>
